[access "refs/heads/*"]
	abandon = group Bullhead Maintainers
	push = +force group Bullhead Maintainers
	pushSignedTag = group Bullhead Maintainers
	label-Code-Review = -2..+2 group Bullhead Maintainers
	label-Verified = -1..+1 group Bullhead Maintainers
	rebase = group Bullhead Maintainers
	submit = group Bullhead Maintainers
	deleteDrafts = group Bullhead Maintainers
